# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that contributes Stackdriver agents and configures them to connect to the service"
  homepage = "https://github.com/paketo-buildpacks/google-stackdriver"
  id = "paketo-buildpacks/google-stackdriver"
  keywords = ["java", "node.js", "google-stackdriver"]
  name = "Paketo Google Stackdriver Buildpack"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/google-stackdriver/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "bin/build", "bin/detect", "bin/helper", "bin/main", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    default = "default-module"
    description = "the name of the application"
    launch = true
    name = "BPL_GOOGLE_STACKDRIVER_MODULE"

  [[metadata.configurations]]
    description = "the project id for the application"
    launch = true
    name = "BPL_GOOGLE_STACKDRIVER_PROJECT_ID"

  [[metadata.configurations]]
    description = "the version of the application"
    launch = true
    name = "BPL_GOOGLE_STACKDRIVER_VERSION"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:google:google-stackdriver-debugger-java:2.29.0:*:*:*:*:*:*:*"]
    id = "google-stackdriver-debugger-java"
    name = "Google Stackdriver Debugger Java Agent"
    purl = "pkg:generic/google-stackdriver-debugger-java@2.29.0"
    sha256 = "3aa75ba2925ea4ecdb169cb91c48ed4ef1437e01a7fc150cc89b5b9b819d9d1e"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://github.com/GoogleCloudPlatform/cloud-debug-java/releases/download/v2.29/cdbg_java_agent_gce.tar.gz"
    version = "2.29.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/GoogleCloudPlatform/cloud-debug-java/blob/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:google:google-stackdriver-debugger-nodejs:6.0.1:*:*:*:*:*:*:*"]
    id = "google-stackdriver-debugger-nodejs"
    name = "Google Stackdriver Debugger NodeJS Agent"
    purl = "pkg:generic/google-stackdriver-debugger-nodejs@6.0.1"
    sha256 = "b039e00acf4c9b766cd6e925fcddc7a40b0b348a1018a7a1ba27628380577927"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://registry.npmjs.org/@google-cloud/debug-agent/-/debug-agent-6.0.1.tgz"
    version = "6.0.1"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/googleapis/cloud-debug-nodejs/blob/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:google:google-stackdriver-profiler-java:2022.6.2700:*:*:*:*:*:*:*"]
    id = "google-stackdriver-profiler-java"
    name = "Google Stackdriver Profiler Java Agent"
    purl = "pkg:generic/google-stackdriver-profiler-java@2022.6.2700"
    sha256 = "6d1a28650b5846f7684632c79cd749bb31e2e4f82c42b03817f80bd05aef7a7c"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://storage.googleapis.com/cloud-profiler/java/cloud-profiler-java-agent_20220627_RC00.tar.gz"
    version = "2022.6.2700"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/GoogleCloudPlatform/cloud-profiler-java/blob/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:google:google-stackdriver-profiler-nodejs:5.0.0:*:*:*:*:*:*:*"]
    id = "google-stackdriver-profiler-nodejs"
    name = "Google Stackdriver Profiler NodeJS Agent"
    purl = "pkg:generic/google-stackdriver-profiler-nodejs@5.0.0"
    sha256 = "dbf8cb9c8f5be1305d062e1f31dc81ee80be28e8e903d61925cc96c0a0c05310"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://registry.npmjs.org/@google-cloud/profiler/-/profiler-5.0.0.tgz"
    version = "5.0.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/googleapis/cloud-debug-nodejs/blob/master/LICENSE"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.paketo.stacks.tiny"

[[stacks]]
  id = "*"
